* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    font-size: 25px;
    scroll-behavior: smooth;
}

:root { 
    --fuenteTitulos: 'Bebas Neue', sans-serif;
    --fuenteSubtitulo: 'Oswald', sans-serif;
    --fuenteBotones: 'Oswald', sans-serif;
    --fuenteTexto: 'Montserrat', sans-serif;
    --colorPrincipal: #868484;
    --colorSecundario: #000000;
    --colorTerciario: #ffffff;
    --cuartoColor: #d9d1d1e9;
    --enlaces_efectos_bordes: #0000FF;
}

.botones {
    height: auto;
    border: 1px solid transparent;
    font-family: var(--fuenteBotones);
    text-align: center; 
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1rem;
}
