@import "/css/basic.css";

body {
    background-image: url(../imglanding/images.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.901);
    background-blend-mode: darken;
    color: var(--colorPrincipal);
}

header {
    padding: 5% 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.superior, .inferior {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.superior {
    height: 35%;
}

h1 {
    text-align: center;
    font-family: var(--fuenteTitulos);
    font-size: 3rem;
    color:var(--colorPrincipal);
    letter-spacing: 3px;
}

.header__barranav {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.header__barranav a {
    font-family: var(--fuenteSubtitulo);
    color: var(--colorPrincipal);
    text-decoration: none;
    border-radius: 15px;
    font-weight: 400;
    padding: 3px 6px;
    transition: transform 0.3s ease;
}

.header__barranav a:hover {
    transform: scale(1.1);
}

.inferior {
    width: 90%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fuenteTexto);
    justify-content: space-around;
    gap: 10%;
}

.inferior__top {
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 25%;
    font-size: 3rem;
    height: 40%;
}

.inferior__bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bienvenido {
    font-size: 1.8rem;
    letter-spacing: 0;
    float: bottom;
}

.mensajito {
    font-size: 1rem;
    gap: 0;
    letter-spacing: 40%;
}

.botones {
    width: 40%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boton {
    width: 40%;
    padding: 10px 0;
    border-radius: 35px;
    border: solid;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: var(--fuenteBotones);
    cursor: pointer;
}

.boton a {
    text-decoration: none;
    color: var(--colorSecundario);
}

.boton--registro {
    color: var(--colorPrincipal);
    background-color: var(--colorSecundario);
    border: solid var(--colorPrincipal);
}

.boton--registro a {
    text-decoration: none;
    color: var(--colorPrincipal);
}

main{
    width: 100%;
    height: auto;

}

@media (max-width: 768px) {
    h1{
        font-size: 50px;
        letter-spacing: -3px;
    } 

    h1::first-letter {
        font-size: 1.5cm;
    }

    .header__barranav {
        height: 0.8cm;
    }

    .header__barranav a {
        font-size: 15px;
        font-weight: 900;
        margin: 2px 0px;
    }

    .header__barranav--left a {
        margin-right: 10px;
    }

    .header__barranav--right {
        margin-right: 4px;
    }

    .header__barranav--right a {
        border-radius: 8px;
    }

}