@import "/css/basic.css";

@keyframes shine {
    to {
        background-position: 200%;
    }
}

body {
    background-image: url(../imglanding/images.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.901);
    background-blend-mode: darken;
    color: var(--colorPrincipal);
}

header {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 0.3fr 0.7fr;
}

h1 {
    text-align: center;
    font-family: var(--fuenteTitulos);
    font-size: 3rem;
    color:var(--colorPrincipal);
    letter-spacing: 3px;
}

.header__barranav {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.header__barranav a {
    font-family: var(--fuenteSubtitulo);
    color: var(--colorPrincipal);
    text-decoration: none;
    border-radius: 15px;
    font-weight: 400;
    padding: 3px 6px;
    transition: transform 0.3s ease;
}

.header__barranav a:hover {
    transform: scale(1.1);
}

.inferior {
    width: 100%;
    height: 100%;
    display: grid;
}

.inferior__top {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    letter-spacing: 25%;
    font-size: 3rem;
    background: linear-gradient(
        to right,
        #F5F5F5 20%,
        #6c6b6b 35%,
        #605e5e 55%,
        #868585 80%
    );
    background-size: 300%;
    color: transparent;
    background-clip: text;
    animation: shine 2s linear infinite;
}

.inferior__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: auto;
    gap: 15%;
    padding-bottom: 3%;
}

.bienvenido {
    font-size: 1.8rem;
    letter-spacing: 0;
}

.mensajito {
    font-size: 1rem;
    letter-spacing: 40%;
}

.botones {
    width: 40%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.botones__login {
    width: 40%;
    background-color: var(--colorPrincipal);
    padding: 10px 0;
    border-radius: 35px;
    border: solid;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--fuenteBotones);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--colorSecundario);
}

.botones--register {
    background-color: transparent;
    border: solid var(--colorPrincipal);
    color: var(--colorPrincipal);
}

main{
    width: 100%;
    height: 100vh;
}

.contenedor {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tarjeta {
    width: 150px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
}

@media (max-width: 768px) {
    h1{
        font-size: 50px;
        letter-spacing: -3px;
    } 

    h1::first-letter {
        font-size: 1.5cm;
    }

    .header__barranav {
        height: 0.8cm;
    }

    .header__barranav a {
        font-size: 15px;
        font-weight: 900;
        margin: 2px 0px;
    }

    .header__barranav--left a {
        margin-right: 10px;
    }

    .header__barranav--right {
        margin-right: 4px;
    }

    .header__barranav--right a {
        border-radius: 8px;
    }

}