@import "/frontend/src/styles/basic.css";

.dashboard {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.dashboard__contenedor {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    height: 100vh;
}

.sidebar {
    background-image: url(/frontend/public/assets/images/sidebar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    color: var(--blanco);
    z-index: 100;
}

.sidebar__titulo {
    font-family: var(--fuenteTitulos);
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 2rem;
}

.sidebar__item {
    margin-bottom: 0.5rem;
}

.sidebar__link {
    font-size: 0.8rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background: transparent;
    color: var(--blanco);
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}


.sidebar__link:hover,
.sidebar__link--active {
    background-color: var(--gris-oscuro);
}

.sidebar__divider {
    border: 0;
    border-top: 1px solid var(--blanco);
    margin: 1.5rem 0;
}

.navbar {
    height: 65px;
    background-color: var(--gris-oscuro);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.navbar__info {
    margin-right: 1.5rem;
    text-align: right;
    font-size: 0.75rem;
    color: var(--blanco);
}

.navbar__rol {
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--azul);
}

.navbar__usuario {
    display: block;
}

.boton--logout-dashboard { 
    border-radius: 15px;
    background-color: var(--azul);
    font-size: 0.6rem;
    color: var(--blanco);
    padding: 10px 15px;
    transition:
        background-color 0.3s ease,
        color 0.1s ease,
        border 0.3s ease;
}

.boton--logout-dashboard:hover {
    background-color: var(--blanco);
    color: var(--azul);
    border: 2px solid var(--azul);
}

.vista-contenedor {
    flex: 1;
    padding: 1rem;
    background-image: url(/frontend/public/assets/images/black-and-white-graffiti-background-vector.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: auto;
}

.vista-placeholder {
    background-color: var(--blanco);
    border: 2px solid var(--negro);
    border-radius: 8px;
    padding: 3rem;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.modal-overlay--hidden {
    display: none;
    pointer-events: none;
}